menu "Cpp App framework"

config USE_SETUP_WEB_INTERFACE
    bool "Use access point web setup to connect to wifi"

config WEB_INTERFACE_SPIFFS_PARTITION_NAME
    depends on USE_SETUP_WEB_INTERFACE || START_WEBSERVER_IN_STATION_MODE
    string "Name of spiffs partition (in partitions.csv)"
    default "spiffs"

config WEB_INTERFACE_DIR
    depends on USE_SETUP_WEB_INTERFACE || START_WEBSERVER_IN_STATION_MODE
    string "Directory from which to build spiffs for setup"

config AP_MODE_HOSTNAME_PREFIX
    string "Hostname prefix for AP mode and MDNS."

config AP_MODE_PASSWORD
    depends on USE_SETUP_WEB_INTERFACE
    string "Password for initial connection (blank for open)"

config START_WEBSERVER_IN_STATION_MODE
    boolean "Start the web server even when connected to wifi"

config SPIFFS_VFS_BASE_PATH
    depends on USE_SETUP_WEB_INTERFACE || START_WEBSERVER_IN_STATION_MODE
    string "Base vfs path for SPIFFS"
    default "/data"

config CONFIG_ENABLE_DEVICE_API_IN_STATION_MODE
    depends on START_WEBSERVER_IN_STATION_MODE
    boolean "Enable device control API in station mode (SECURITY RISK!)"

endmenu
